<app-home-section></app-home-section>
<app-register></app-register>
<app-login></app-login>

<div class="">
    <button class="btn" appTooltip="Save your changes">Save</button>
    <button class="btn" appTooltip="Cancel and go back">Cancel</button>
</div>

<h2>Custom Tooltip Positions</h2>

<button appTooltip="Tooltip on top" tooltipPosition="top">Top</button>
<button appTooltip="Tooltip on right" tooltipPosition="right">Right</button>
<button appTooltip="Tooltip on bottom" tooltipPosition="bottom">Bottom</button>
<button appTooltip="Tooltip on left" tooltipPosition="left">Left</button>

<app-form-wrapper formTitle="Login"></app-form-wrapper>

<app-header></app-header>

<i class="fa-solid fa-lock"></i>